/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.input__container label {
  color: hsl(186deg, 14%, 43%);
  margin-block-end: 0.5rem;
  display: inline-block;
}

.select-tip__heading {
  color: hsl(186deg, 14%, 43%);
  margin-block-end: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
}
@media (min-width: 1024px) {
  .header {
    padding-block-start: 8rem;
    padding-block-end: 5rem;
  }
}

.main {
  background-color: hsl(0deg, 0%, 100%);
  padding-inline: 2rem;
  padding-block: 2rem;
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
@media (min-width: 1024px) {
  .main {
    min-height: 0;
    width: 80%;
    max-width: 65rem;
    margin-inline: auto;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1024px) {
  .form {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .col--1 {
    flex: 1;
  }
}

.col--2 {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  padding-inline: 1.5rem;
  padding-block-start: 2.5rem;
  padding-block-end: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .col--2 {
    flex: 1;
    padding-inline: 2.5rem;
  }
}

.select-tip {
  margin-block-end: 2rem;
  border: none;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
@media (min-width: 1025px) {
  .select-tip {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.select-tip__custom-input {
  text-align: right;
  font-size: 1.5rem;
  color: hsl(183deg, 100%, 15%);
  padding-inline-end: 0.5rem;
  width: 100%;
  border: none;
  background-color: hsl(189deg, 41%, 97%);
  border-radius: 4px;
}
.select-tip__custom-input::placeholder {
  color: hsl(183deg, 100%, 15%);
}
.select-tip__custom-input:focus {
  outline: 2px solid hsl(172deg, 67%, 45%);
}

.selected-tip {
  background-color: #abeee6;
  color: hsl(183deg, 100%, 15%);
}

.tip-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .tip-total__container {
    flex: 1;
  }
}
@media (min-width: 1024px) {
  .tip-total__label--1 {
    font-size: 1.25rem;
  }
}
.tip-total__label--2 {
  color: hsl(184deg, 14%, 56%);
}
.tip-total__amount {
  font-size: 2rem;
  color: hsl(172deg, 67%, 45%);
}
@media (min-width: 1024px) {
  .tip-total__amount {
    font-size: 3rem;
  }
}
.tip-total:not(.tip-total:last-child) {
  margin-block-end: 2rem;
}
@media (min-width: 1024px) {
  .tip-total:not(.tip-total:last-child) {
    flex: 1;
  }
}

.tip__reset-btn {
  background-color: hsl(172deg, 67%, 45%);
  border: none;
  text-transform: uppercase;
  color: hsl(183deg, 100%, 15%);
  border-radius: 4px;
  padding-block: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}
.tip__reset-btn:hover {
  background-color: #c5e4e7;
}
@media (min-width: 1024px) {
  .tip__reset-btn {
    margin-block-end: 1rem;
    font-size: 1.5rem;
    padding-block: 1rem;
  }
}

.select-tip__control {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.select-tip__control input {
  appearance: none;
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  background-color: hsl(183deg, 100%, 15%);
  display: grid;
  place-content: stretch;
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  color: hsl(183deg, 100%, 15%);
}
.select-tip__control input::before {
  content: "";
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #abeee6;
  border-radius: 4px;
}
.select-tip__control input:checked::before {
  transform: scale(1);
}

.form__control-field input {
  background-color: hsl(189deg, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-block: 0.5rem;
  padding-inline-end: 1rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  color: hsl(183deg, 100%, 15%);
}
.form__control-field input:focus {
  outline: 2px solid hsl(172deg, 67%, 45%);
}
.form__control-field #bill {
  background-image: url("../../images/icon-dollar.svg");
  margin-block-end: 2rem;
}
.form__control-field #people {
  background-image: url("../../images/icon-person.svg");
  margin-block-end: 2rem;
}
@media (min-width: 1024px) {
  .form__control-field #people {
    margin-block-end: 0;
  }
}

.input__validation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invalid__message {
  color: #ff8080;
  display: none;
}

body {
  background-color: hsl(185deg, 41%, 84%);
}

/*# sourceMappingURL=style.css.map */
