/* Declares layers in order of priority */
@layer reset, base, pages, layouts, components;

/* START OF Reset ***************** */
@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
/* END OF Reset ******************/

/* START OF VARIABLES */
@layer base {
  :root {
    --primary-clr: #26c2ae;
    --primary-clr-2: #e17457;

    --neutral-clr-1: #c5e4e7;
    --neutral-clr-2: #f3f9fa;
    --neutral-clr-3: #00474b;
    --neutral-clr-4: #5e7a7d;
    --neutral-clr-5: #547878;
    --neutral-clr-6: #7f9d9f;
    --neutral-clr-7: #9fe8df;
    --neutral-clr-8: #9ebbbd;
    --white: #ffff;

    --main-bg: var(--neutral-clr-1);
    --results-bg: var(--neutral-clr-3);
    --input-bg: var(--neutral-clr-2);
    --input-clr: var(--neutral-clr-3);
    --input-plchldr-clr: var(--neutral-clr-8);
    --label-clr: var(--neutral-clr-4);
    --radio-btn-clr: var(--neutral-clr-3);

    --reset-btn-clr: var(--primary-clr);
    ---hovered-btn-clr: var(--neutral-clr-7);

    --custom-plchldr-clr: var(--neutral-clr-5);
    --person-clr: var(--neutral-clr-6);
    --price-clr: var(--primary-clr);
    --error-clr: var(--primary-clr-2);

    --border-radius-lg: 25px;
    --border-radius-md: 15px;
    --border-radius-sm: 5px;

    --fs-form: 1.5rem;

    --fw-700: 700;

    --main-font-family: 'Space Mono', monospace;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}

@layer pages {
  body {
    background-color: var(--main-bg);
    font-family: var(--main-font-family);

    @media screen and (min-width: 62em) {
      display: grid;
      place-items: center;
      grid-auto-rows: 15rem 25rem;
    }
  }
}

@layer layouts {
  .grid {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 62em) {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
      margin-inline: 2rem;
    }
  }

  .flex-c-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .spl__header {
    display: grid;
    place-items: center;
    margin-block-start: 3.125rem;
  }

  .spl__main {
    background-color: var(--white);
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
    padding: 2rem;
    margin-block-start: 2.5rem;

    @media screen and (min-width: 62em) {
      border-radius: var(--border-radius-lg);
      max-width: 62rem;
    }
  }

  .form__control {
    display: grid;
    grid-template-columns: 1fr max-content;
    row-gap: 6px;

    label {
      color: var(--label-clr);
      font-size: 1rem;
      font-weight: var(--fw-700);
    }

    #error__bill {
      justify-self: end;
      color: var(--error-clr);
      font-size: 1rem;
      font-weight: var(--fw-700);
      display: none;
    }

    #error__quantity {
      justify-self: end;
      color: var(--error-clr);
      font-size: 1rem;
      font-weight: var(--fw-700);
      display: none;
    }

    & .input__control {
      grid-column: 1 / -1;
      background-color: var(--input-bg);
      padding-block: 6px;
      padding-inline: 17px;
      border-radius: var(--border-radius-sm);

      &:has(input:focus, input:focus-within) {
        border: 2px solid var(--primary-clr);
      }
      
      &.invalid {
        border: 2px solid var(--primary-clr-2)
      }

      input {
        width: 100%;
        height: 100%;
        color: var(--input-clr);
        font-weight: var(--fw-700);
        font-size: var(--fs-form);
        border: none;
        outline: none;
        text-align: right;
        background-color: transparent;

        &::placeholder {
          color: var(--input-plchldr-clr);
        }
      }

      #bill {
        background: url('/images/icon-dollar.svg') no-repeat left;
      }

      #quantity {
        background: url('/images/icon-person.svg') no-repeat left;
      }
    }
  }

  /* START SPL TIP SELECTOR AND CHILDREN *************** */
  .spl__tip-selector {
    border: none;
    padding: 0;
    margin-block: 2.5rem;

    legend {
      color: var(--label-clr);
      font-size: 1rem;
      font-weight: var(--fw-700);
      margin-block-end: 1rem;
    }
  }

  .spl__tip-options {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
    font-size: var(--fs-form);
    font-weight: var(--fw-700);

    @media screen and (min-width: 48em) {
      grid-template-columns: repeat(3, 1fr);
    }

    input[type='radio'] {
      display: none;
    }

    .radio__control {
      background-color: var(--radio-btn-clr);
      color: var(--white);
      text-align: center;
      border-radius: var(--border-radius-sm);
      padding-block: 0.5rem;
      cursor: pointer;

      label {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background-color: var(--neutral-clr-7);
        color: var(--neutral-clr-3);
      }

      &:has(input[type="radio"]:checked) {
        background-color: var(--primary-clr);
        color: var(--neutral-clr-3);
      }
    }
  }

  #custom__input {
    background-color: var(--input-bg);
      border: none;
      width: 10rem;
      text-align: right;
      padding-inline-end: 1rem;
      outline: none;
      border-radius: var(--border-radius-sm);
      padding-block: 6px;
      width: 100%;
      height: 100%;
      color: var(--input-clr);

      &::placeholder {
        color: var(--custom-plchldr-clr);
      }

      &:focus, &:focus-within {
        outline: 2px solid var(--primary-clr);
      }
  }
  /* .custom-input__container {
    
    input {
      background-color: var(--input-bg);
      border: none;
      width: 10rem;
      text-align: right;
      padding-inline-end: 1rem;
      outline: none;
      border-radius: var(--border-radius-sm);
      padding-block: 6px;
      width: 100%;
      height: 100%;
      color: var(--input-clr);

      &::placeholder {
        color: var(--custom-plchldr-clr);
      }

      &:focus {
        outline: 2px solid var(--primary-clr);
      }
    }
  } */
  /* END SPL TIP SELECTOR AND CHILDREN *************** */

  .spl__results {
    background-color: var(--results-bg);
    border-radius: var(--border-radius-md);
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    color: var(--white);
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 62em) {
      margin-block-start: 0;
      padding: 2.5rem;
    }

    .spl__results-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.25rem;
    }

    .price-title {
      font-size: 1rem;
      font-weight: var(--fw-700);
    }

    .price-label {
      font-size: 13px;
      color: var(--person-clr);
      line-height: 1;
    }

    .price {
      font-size: 2rem;
      font-weight: var(--fw-700);
      color: var(--price-clr);

      @media screen and (min-width: 62em) {
        font-size: 3rem;
      }
    }
  }

  .btn__reset {
    border: none;
    background-color: var(--reset-btn-clr);
    padding-block: 9px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: var(--fw-700);
    color: var(--neutral-clr-3);
    border-radius: var(--border-radius-sm);
    margin-block-start: 1rem;
    cursor: pointer;
    transition: background-color 0.25s;

    &:hover {
      background-color: var(---hovered-btn-clr);
    }

    &:disabled {
      background-color: #0d686d;
      color: #00474b;
      cursor: not-allowed;
    }

    @media screen and (min-width: 62em) {
      margin-block-start: auto;
    }
  }
}
