@use '../abstracts' as *;

.form {
  @media (min-width: 1024px) {
    display: flex;
    gap: 2rem;
  }
}

.col--1 {
  @media (min-width: 1024px) {
    flex: 1;
  }
}

.col--2 {
  background-color: $neutral-color-1;
  color: $neutral-color-6;
  padding-inline: 1.5rem;
  padding-block-start: 2.5rem;
  padding-block-end: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 1024px) {
    flex: 1;
    padding-inline: 2.5rem;
  }
}

.select-tip {
  margin-block-end: 2rem;
  border: none;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;

  @media (min-width: 1025px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__control {
    display: flex;
    justify-content: center;
    background-color: $neutral-color-1;
    padding-block: 0.5rem;
    border-radius: 4px;
    color: $neutral-color-6;

    label {
      font-size: $fs-form-input;
    }

    input[type='radio'] {
      // display: none;

      &:checked {
        background-color: red;
      }
    }
  }

  &__custom-input {
    text-align: right;
    font-size: $fs-form-input;
    color: $neutral-color-1;
    padding-inline-end: 0.5rem;
    width: 100%;
    border: none;
    background-color: $neutral-color-5;
    border-radius: 4px;

    &::placeholder {
      color: $neutral-color-1;
    }

    &:focus {
      outline: 2px solid $primary-color-1;
    }
  }
}

.selected-tip {
  background-color: #abeee6;
  color: hsl(183, 100%, 15%);
}

.tip-total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    @media (min-width: 1024px) {
      flex: 1;
    }
  }

  &__label {
    &--1 {
      @media (min-width: 1024px) {
        font-size: 1.25rem;
      }
    }

    &--2 {
      color: $neutral-color-3;
    }
  }

  &__amount {
    font-size: 2rem;
    color: $primary-color-1;

    @media (min-width: 1024px) {
      font-size: 3rem;
    }
  }

  &:not(&:last-child) {
    margin-block-end: 2rem;

    @media (min-width: 1024px) {
      flex: 1;
    }
  }
}

.tip__reset-btn {
  background-color: $primary-color-1;
  border: none;
  text-transform: uppercase;
  color: $neutral-color-1;
  border-radius: 4px;
  padding-block: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: #c5e4e7;
  }

  @media (min-width: 1024px) {
    margin-block-end: 1rem;
    font-size: 1.5rem;
    padding-block: 1rem;
  }
}
