@use '../abstracts/' as *;

.main {
  background-color: $neutral-color-6;
  padding-inline: 2rem;
  padding-block: 2rem;
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
